<h1>G1-SERVICIOS</h1>
<section>
    <h2></h2>
    <blockquote>
        
        <table border="1" cellSpacing="0" style="background-color:blueviolet">
            <caption>CLUB</caption>
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Alias</td>
                    <td>Color</td>
                    <td>Acción</td>
                </tr>
            </thead>

            <tbody>
                <ng-container *ngFor="let item of ClubData()" >
                    <tr>
                        <td>{{item.clubNombre}}</td>
                        <td>{{item.clubAlias}}</td>
                        <td>{{item.clubColor}}</td>
                        <td>
                            <button (click)="Actualizar(item.clubId)">Actualizar</button>
                            <button (click)="Eliminar(item.clubId)">Eliminar</button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

    </blockquote>
</section>

