/* You can add global styles to this file, and also import other style files */
body,html, a{
    color:white;
    font-family: 'Consolas';
    background-color: rgb(37, 37, 37);
}


h1{
    color: #006cbe;
}
h2{
    color: #dfa7e0;
}
h3{
    color: #7bfff3;
}
h6{
    color:rgb(156, 86, 235);
    font-size: 1.3em;
}
p{
    color: #63b763;
}
section > blockquote{
    background-color: #252525;
    border: dashed 1px #fff067;
    padding: 10px;
    margin: 5px 0px;
}
form button {
    padding: 5px 10px;
}

.dsc-list-button{
    list-style: none;
    padding: 5px;
    margin: 5px;
}
.dsc-list-button li{
    
    padding: 5px;
}

form em{
    color:rgb(249, 107, 79);
    display: block;
    padding:5px;
}

form div > button{
    margin:10px 0px;
}

form label {
    display: block;
}

form .dsc-btn-add{
    color: #023502;
    background-color: #6fcf6f;
    border-radius: 5px;
    padding: 5px 10px;
}

form .dsc-btn-delete{
    color: #280707;
    background-color: #ec9494;
    border-radius: 5px;
    padding: 5px 10px;
}

form .dsc-btn-primary, button[type="submit"]{
    color: #07273f;
    background-color: #69afe4;
    border-radius: 5px;
    padding: 5px 10px;
}

form .dsc-btn-primary:disabled, button[type="submit"]:disabled {
    color: #706f6f;
    background-color: #a7a7a7;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: no-drop;
}