<h1>D5-DIRECTIVAS FOR</h1>
<section>
    <h2>ngFor json persona (con señales , Interface)</h2>
    <p>declaramos la variable signal "persona" y la inicializamos con un valor de array vacio, luego le asignamos el array de datos desde el constructor de la clase </p>
    <blockquote>
        
        <table border="1" cellSpacing="0">
            <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Sueldo</th>
                    <th>Fecha de nacimiento</th>
                    <th>edad</th>
                    <th>discapacitado</th>
                </tr>
            </thead>

            <tbody>
                <ng-container *ngFor="let item of persona()" >
                    <tr>
                        <td>{{item.cedula}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.sueldo}}</td>
                        <td>{{item.fechaNacimiento}}</td>
                        <td>{{item.edad}}</td>
                        <td>{{item.discapacitado}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

    </blockquote>
</section>


