<h1>Felicidades encontraste un <abbr title="robot azul con demasiados juegos y mas variantes que spiderman">Megaman</abbr> dorado</h1>
<a href="https://th.bing.com/th/id/OIP.QFKxsn3XK8a9WSjIGZJBJgHaHa?rs=1&pid=ImgDetMain" target="_blank">obtenlo aqui</a>
<h1>musica triste</h1>
<audio controls src="MEGAMAN X5 OST - ENDING THEME.mp3"ENDI></audio>
<h1>choses a faire</h1>
<ul>
    <li>manger</li>
    <li>rire</li>
    <li>ressentir</li>
    <li>aimer</li>
</ul>
<h1>quels sont tes jeux préférés?</h1>
<hr/>
<ul>
    <ng-container *ngFor="let item of['Classic','X','Zero','ZX','Legends','Battle Network','Starforce']" >
        <li>{{item}}</li>
    </ng-container>
</ul>
<hr/>
<h1>Lista dinamica</h1>
<ul>
    <ng-container *ngFor="let item of animalesData" >
    <li>{{item}}</li>
    </ng-container>
</ul>
<hr/>
<button (click)="AgregarAnimal()">agregar animal</button>
<hr/>
<div *ngIf="Mostrar">
    {{titulo}}
</div>
<tutorial-de-estilos></tutorial-de-estilos>
