<div >
<h2>Seleccionar una cuenta</h2>
<div>
<table class="tabla-generate">
  <thead>
    <tr>
      <td>Seleccionar</td>
      <td>Empresa</td>
      <td>Banco</td>
      <td>No. Cuenta</td>
    </tr>
  </thead>
  <tbody>


    <ng-container *ngFor="let item of accountData">
      <tr>
      <td><button (click)="OnGetAccountId(item.id)" >Seleccionar</button></td>
      <td>{{item.companyName}}</td>
      <td>{{item.bankName}}</td>
      <td>{{item.accountNumber}}</td>
      
    </tr>
    </ng-container>


    
    
  </tbody>
</table>
<em>Seleccione una opcion</em>
</div>

<h2>Archivo beneficiarios</h2>
<div >
  <input type="file">
</div>

<h2>Ciudad de emisión</h2>

<select > 
  <ng-container *ngFor="let item of cityData" >
<option value="{{item.id}}">{{item.name}}</option>
  </ng-container>
  
  
</select>

<h2>Tipo de reporte</h2>

<select >
 <ng-container *ngFor="let item of reportTypeData">
<option value="{{item.id}}">{{item.name}}</option>
 </ng-container>
</select>

<h3>Detalle del reporte</h3>
<div class="seccion">
<textarea rows="10">Pago del fin del mes de Agosto</textarea>
<em>El valor de este campo es requerido</em>
</div>


<h2>No del primer cheque</h2>

<div class="seccion">
  <input type="number" value="123">
  <em>El valor debe ser mayor a 0</em>
</div>



<div style="padding: 15px 0px;">
  <button class="btn-blue">Procesar información</button>
</div>



<div>
  <button class="btn-orange">Reporte cheques</button>
  <button class="btn-green">Reporte de recibos</button>
</div>

</div>