<h1>F7-COMPONENTES</h1>

<section>
  <h2>Renderer2</h2>
  <p>
    Permite interactuar con el DOM sin salirte del ciclo de vida de Angular
  </p>
  <blockquote>


<!---------------------------------------->
<h3>DOM: Estilos</h3>
<button (click)="AgregarEstilo()">Agregar estilo</button>
<button (click)="EliminarEstilo()">Eliminar estilo</button>
<button (click)="AgregarClase()">Agregar clase</button>
<button (click)="EliminarClase()">Eliminar clase</button>

<br />

<div #miDiv >div</div>

<br />
<hr />
<!---------------------------------------->
<h3>DOM: Atributos</h3>
<button (click)="AgregarAtributo()">Agregar atributo</button>
<button (click)="EliminarAtributo()">Eliminar atributo</button>

<br /><br />

<img #miImg src="../../../../../assets/images/loro.jpg" width="100px" height="100px" />

<br />
<hr />
<!---------------------------------------->
<h3>DOM: Propiedades</h3>
<button (click)="AgregarPropiedad()">Agregar propiedad</button>

<br /><br />

<input #miInput />




  </blockquote>
</section>

<!--..................................................-->
