<h1>Formulario principal</h1>
<section>
    <blockquote>
        <form [formGroup]="formFranquicia" (submit)="Enviar()">
            <div>
                <label >Franquicia:</label>
                <select formControlName="franquicia">
                    <option value="">Seleccionar Franquicia</option>
                    <ng-container *ngFor="let item of franquiciaData">
                        <option value="{{item.gamesFranquiciaId}}">{{item.nombre}}</option>
                    </ng-container>
                </select>
                <div *ngIf="ctrlFranquiciaId.errors && (ctrlFranquiciaId.dirty || ctrlFranquiciaId.touched )">
                    <em *ngIf="ctrlFranquiciaId.hasError('required')">categoria requerida</em>
                </div>
            </div>
            <div>
                <label >Saga: </label>
                <select formControlName="tipo">
                    <option value="">Seleccionar Saga</option>
                    <ng-container *ngFor="let item of gamesFiltroData()">
                        <option value="{{item.gamesTipoId}}">{{item.nombre}}</option>
                        <div *ngIf="ctrlTipoGameId.hasError('required')">categoria requerida</div>
                    </ng-container>
                </select>
               
                
            </div>
            <h3>Subsaga</h3>
           
            <div>
                <button type="button" (click)="AgregarFormJuego()" class="dsc-btn-add">Agregar Puntuación</button>
                
            </div>

            <div formArrayName="franquiciaJuegos">
                <ng-container *ngFor="let item of FormArrayFranquiciaJuegos.controls; let i = index">
                <div [formGroupName]="i">
                    <div>
                        <label >Nombre del juego:</label>
                        <select formControlName="juegoNombre">
                            <option value="">Seleccionar Juego</option>
                            <ng-container *ngFor="let item of gamesFiltroData2()">
                                <option value="{{item.gamesId}}">{{item.nombre}}</option>
                           
                            </ng-container>
                            <div *ngIf="FormArrayFranquiciaJuegos.at(i).get('juegoNombre')?.errors && (FormArrayFranquiciaJuegos.at(i).get('juegoNombre')?.dirty || FormArrayFranquiciaJuegos.at(i).get('juegoNombre')?.touched )">
                                <em *ngIf="FormArrayFranquiciaJuegos.at(i).get('juegoNombre')?.hasError('required')">Campo requerido </em>
                            </div>
                        </select>
                       
                        
                    </div>
                    <label >Puntuacion: </label>
                    <input type="number" formControlName="juegosPuntuacion"/>
                    <div *ngIf="FormArrayFranquiciaJuegos.at(i).get('juegosPuntuacion')?.errors && (FormArrayFranquiciaJuegos.at(i).get('juegoNombre')?.dirty || FormArrayFranquiciaJuegos.at(i).get('juegoNombre')?.touched )">
                        <em *ngIf="FormArrayFranquiciaJuegos.at(i).get('juegosPuntuacion')?.hasError('required')">Campo requerido </em>
                        <em *ngIf="FormArrayFranquiciaJuegos.at(i).get('juegosPuntuacion')?.hasError('min')">minimo de 0 </em>
                    </div>
                </div>
                <div>
                    <button type="button" (click)="EliminarFormJuego(i)" title="{{i}}" class="dsc-btn-delete">Eliminar Formulario</button>
                </div>
            </ng-container>



            </div>

            <div>
                <button type="submit" [disabled]="!formFranquicia.valid">Enviar Formulario</button>
                <button type="button" (click)="ResetearForm()">Resetear Formulario</button>
            </div>
        </form>
    </blockquote>
</section>








