<h1>C5-Evento click</h1>


<!--..................................................................-->

<section>
    <h2>Click obtener el objeto "evento click" del botón</h2>
    <p>Pasamos como parametro el objeto $event del boton, este lo recibe el método "Saludo4" para así navegar por todas las propiedades del objeto (puedes ver los resultados en la consola del navegador)</p>
    <p>En este ejemplo vamos a obtener el valor de la propiedad "data-cedula" del botón</p>
    <blockquote>
        <button data-cedula="0918723453" (click)="Saludo($event)">Mostrar Saludos</button>
    </blockquote>
</section>


