<h1>E0-FORMULARIOS</h1>

<section>
    <h2>Controles de formulario</h2>
    <p>Mostrar y modificar valor de controles manualmente</p>
    <blockquote>
        
        <ul class="dsc-list-button">
            <li><button type="button" (click)="MostrarValoresControles()">Mostrar valores de controles</button></li>
            <li><button type="button" (click)="ModificarValoresControles()">Modificar valores de controles</button></li>
        </ul>

        <form [formGroup]="formProducto" (submit)="EnviarFormProducto()">
            <div>
                <label>Nombre de producto: </label>
                <!--control-->
                <input type="text" formControlName="productoNombre" />
                <!--validaciones-->
                <div *ngIf="ctrlProductoNombre.errors && (ctrlProductoNombre.dirty || ctrlProductoNombre.touched)">
                    <em *ngIf="ctrlProductoNombre.hasError('required')" >Nombre es requerido</em>
                </div>
            </div>

            <div>
                <label>Precio: </label>
                <!--control-->
                <input type="number" formControlName="productoPrecio" />
                <!--validaciones-->
                <div *ngIf="ctrlProductoPrecio.errors && (ctrlProductoPrecio.dirty || ctrlProductoPrecio.touched)">
                    <em *ngIf="ctrlProductoPrecio.hasError('required')" >Precio es requerido</em>
                    <em *ngIf="ctrlProductoPrecio.hasError('min')" >Precio mínimo $1</em>
                </div>
            </div>

        <!--boton para enviar datos del formulario-->
        <div>
            <button type="submit" [disabled]="!formProducto.valid">Enviar producto</button>
        </div>

        </form>
     

    </blockquote>
</section>

<!--..................................................-->


