<h1>C4-Eventos</h1>


<section>
    <h2>click en imágenes</h2>
    <p>vamos a ejecutar dos métodos que presentarán el resultado en una variable "respuesta", tiene una particularidad ya que pasamos un valor de texto como parametros del método "Saludo" </p>
    <blockquote>
        
        <img (click)="Saludo('Gato')" src="../../../../../assets/images/gato.jpg" width="100px" />
        <img (click)="Saludo('Perro')" src="../../../../../assets/images/perro.jpg" width="100px" />

        <h6>{{respuesta()}}</h6>

    </blockquote>
</section>

