<h1>A4 - TYPESCRIPT</h1>
<section>
    <h2>Iteración de arreglos (array)</h2>
    <p>Recorrer, procesar y transformar los elementos de un arreglo (array)</p>
    <blockquote>
        <ul class="dsc-list-button">
            <li><button (click)="EjemploForeach()">Foreach</button></li>
            <li><button (click)="EjemploFind()">Find</button></li>
            <li><button (click)="EjemploFilter()">Filter</button></li>
            <li><button (click)="EjemploSome()">Some</button></li>
            <li><button (click)="EjemploEvery()">Every</button></li>
            <li><button (click)="EjemploMap()">Map</button></li>
            <li><button (click)="EjemploReduce()">Reduce</button></li>
            <li><button (click)="EjemploIndexOf()">IndexOf</button></li>
        </ul>
    </blockquote>
</section>



