<h1>B1-DIRECTIVAS IF</h1>

<section>
    <h2>ngIf sin variable</h2>
    <p>establecemos el valor directamente en el html </p>
    <blockquote>
    
        <ul>
            <li *ngIf="true"  >A</li>
            <li *ngIf="false" >E</li>
            <li *ngIf="true"  >I</li>
            <li *ngIf="false" >O</li>
            <li *ngIf="true"  >U</li>
        </ul>
    
    </blockquote>
</section>

<!--..................................................................-->

<section>
    <h2>ngIf con variable</h2>
    <p>establecemos una variable para el valor true o false </p>
    <blockquote>
    
        <ul>
            <li *ngIf="visibleA"   >A</li>
            <li *ngIf="visibleE"   >E</li>
            <li *ngIf="visibleI"   >I</li>
            <li *ngIf="visibleO()" >O</li>
            <li *ngIf="visibleU()" >U</li>
        </ul>
    
    </blockquote>
</section>




