<p>club-list works!</p>

<button (click)="ClubLista()">llamar lista de clubes</button>

<table border="2">
<thead>
    <tr>
        <td>Id</td>
        <td>Nombre</td>
        <td>Alias</td>
        <td>Color</td>
    </tr>
</thead>
<tbody>
    <ng-container *ngFor="let item of ClubData()">
        <tr>
            <td>{{item.clubId}}</td>
            <td>{{item.clubNombre}}</td>
            <td>{{item.clubAlias}}</td>
            <td>{{item.clubColor}}</td>
        </tr>
    </ng-container>
</tbody>
</table>
