<h1>F1-COMPONENTES</h1>

<section>
    <h2>&#64;Input</h2>
    <p>&#64;Input es un decorador que se usa para permitir que un componente hijo reciba datos desde un componente padre</p>
    <blockquote>

        <app-f1-hijo [Foto]="'gato.jpg'" [Nombre]="'José Pépe'" [Descripcion]="'Gato mugrosis pulgosivoro'" ></app-f1-hijo>

        <app-f1-hijo [Foto]="foto1" [Nombre]="nombre1" [Descripcion]="descripcion1" ></app-f1-hijo>


    </blockquote>
</section>

<!--..................................................-->



