<h1>F5-COMPONENTES</h1>

<section>
    <h2>BehaviorSubject</h2>
    <p>Es una clase que se utiliza para gestionar y emitir valores de manera reactiva entre componentes</p>
    <blockquote>

        <!-- componente hijo A -->
        <app-f5-hijo-a ></app-f5-hijo-a>
        <!-- componente hijo B -->
        <app-f5-hijo-b ></app-f5-hijo-b>
        <!-- componente hijo C -->
        <app-f5-hijo-c ></app-f5-hijo-c>


    </blockquote>
</section>

<!--..................................................-->



