<h1>A4 - TYPESCRIPT</h1>
<section>
    <h2>CRUD persona</h2>
    <p>Ejemplo con signals y json</p>
    <blockquote>

        <ul class="dsc-list-button">
            <li><button (click)="LlenarPersonasData()">volver a llenar lista personas con datos iniciales</button></li>
            <li><button (click)="AgregarPersona()">Agregar una registro persona</button></li>
            <li>
                <button (click)="BuscarPersonaPorEdad($event, 20)">Buscar lista de personas con edad mayor a 20</button>
                <button (click)="BuscarPersonaPorDiscapacitada($event, true)">Buscar lista de personas con discapacidad</button>
                <button (click)="BuscarPersonaPorNombre($event, 'av')">Buscar lista de personas cuyo nombre contenga la palabra "av"</button>
            </li>
            <li><button (click)="BuscarPersonaPorCedula($event, '0000000002')">Buscar una persona por numero de cédula "0000000002" </button></li>
            <li><button (click)="EliminarPersonaPorCedula($event, '0000000002')">Eliminar una persona por numero de cédula "0000000002" </button></li>
            <li><button (click)="EditarPersonaPorCedula($event, '0000000002')">Editar una persona por numero de cédula "0000000002" </button></li>

        </ul>
        
            
        
        

        <table border="1" cellSpacing="0">
            <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Sueldo</th>
                    <th>Fecha de nacimiento</th>
                    <th>edad</th>
                    <th>discapacitado</th>
                </tr>
            </thead>

            <tbody>
                <ng-container *ngFor="let item of personasData()" >
                    <tr>
                        <td>{{item.cedula}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.sueldo}}</td>
                        <td>{{item.fechaNacimiento | date :'yyyy-MM-dd' }}</td>
                        <td>{{item.edad}}</td>
                        <td>{{item.discapacitado}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

    </blockquote>
</section>




