<h1>B3-DIRECTIVAS IF</h1>

<section>
    <h2>ngIf ocultar y mostrar mensaje</h2>
    <p></p>
    <blockquote>
    
        

        <button (click)="MostrarMensaje()">Mostrar</button>
        <button (click)="OcultarMensaje()">Ocultar</button>
        <button (click)="OcultarMostrarMensaje()">Oculta y mostrar presionando solo este boton</button>

        <h6 *ngIf="onOff1()">HOLA SOY EL MENSAJE</h6>
        
        
    </blockquote>
</section>



<!--..................................................................-->
