<h1>E6-FORMULARIOS</h1>

<section>
    <h2>formularios </h2>
    <p></p>
    <blockquote>

        <!--<form [formGroup]="formVideo" (submit)="EnviarFormVideo()">
            <div>
                <label>Título : </label>
                <input type="text" formControlName="Titulo" autocomplete="false" />
                <div *ngIf="ctrlTitulo.errors && (ctrlTitulo.dirty || ctrlTitulo.touched)">
                    <em *ngIf="ctrlTitulo.hasError('required')" >Título es requerido</em>
                </div>
            </div>

            <div>
                <label>Duración video (minutos): </label>
                <input type="number" formControlName="Duracion" />
                <div *ngIf="ctrlDuracion.errors && (ctrlDuracion.dirty || ctrlDuracion.touched)">
                    <em *ngIf="ctrlDuracion.hasError('required')" >duración es requerido</em>
                    <em *ngIf="ctrlDuracion.hasError('min')" >duración mínima es 1</em>
                </div>
            </div>
            
            <div>
                <button type="submit" [disabled]="!formVideo.valid"  >Iniciar Sesión</button>
            </div>

            
        </form>-->
     

    </blockquote>
</section>

<!--..................................................-->




