<h1>E7-FORMULARIOS</h1>

<section>
    <h2>Formularios dinámicos (avanzado)</h2>
    <p></p>
    <blockquote>

        <form [formGroup]="formPadre" (submit)="EnviarFormPadre()">


            <div>
                <label>Nombre : </label>
                <input type="text" formControlName="padreNombre" autocomplete="false" />
                <div *ngIf="ctrlPadreNombre.errors && (ctrlPadreNombre.dirty || ctrlPadreNombre.touched)">
                    <em *ngIf="ctrlPadreNombre.hasError('required')" >Nombre padre es requerido</em>
                </div>
            </div>


            <div>
                <label>Sueldo: </label>
                <input type="number" formControlName="padreSueldo" />
                <div *ngIf="ctrlPadreSueldo.errors && (ctrlPadreSueldo.dirty || ctrlPadreSueldo.touched)">
                    <em *ngIf="ctrlPadreSueldo.hasError('required')" >sueldo es requerido</em>
                    <em *ngIf="ctrlPadreSueldo.hasError('min')" >sueldo mínima es 1</em>
                </div>
            </div>
            

            <div>
                <button type="submit" [disabled]="!formPadre.valid">Enviar formulario</button>
                <button type="button">Resetear formulario</button>
            </div>

            
        </form>
     

    </blockquote>
</section>

<!--..................................................-->




